body {
  padding: 90px;
  font-family: Arial, Helvetica, sans-serif;
  color: #742305;
}

.prod-card {
  width: 15vw;
  min-width: 250px;
  min-height: 40vh;
  background-color: #fef7e2;
  border-radius: 75px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.prod-card .img-prod {
  flex: 3 0 240px;
  object-fit: cover;
}

.prod-card .card-content {
  flex: 1 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Allinea gli elementi verticalmente al centro. */
  padding: 10px;
  box-sizing: border-box;
}

.prod-card div {
  width: 100%;
}

.card-content .prod-data {
  flex: 2 0 66%;
  display: flex;
  align-items: center;
}

.prod-data .prod-name {
  flex: 2 0 66%;
  text-align: center;
}

.prod-name h2 {
  font-weight: bold;
}

.prod-data .prod-price {
  flex: 1 0 33%;
  text-align: center;
}

.card-content .button-prod {
  flex: 1 0 33%;
  text-align: center;
}

.button-prod button {
  width: 60%;
  height: 90%;
  background-color: #ffdf7e;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  color: #742305;
}
